@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600;700&display=swap");
/* navbar.css */

/* navbar.css */



.navBar {
  margin: auto;
  font-family: "Fira Code", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 32px 0 8px;
  gap: 555px;
  position: absolute;
  width: 100%; /* Use full width */
  max-width: 1024px; /* Limit to a maximum width if needed */
  left: 50%;
  transform: translateX(-50%); /* Center horizontally */
  top: 0;
}

.logo {
  width: 92px;
  height: 21px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;

}

.nav-links {
  display: flex;
  gap: 32px;
}

.nav-link {
  color: #abb2bf;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
}

.nav-link span {
  color: var(--primary, #c778dd);
  font-family: "Fira Code";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.nav-link:hover {
  color: #ffffff;
}

.sideBar {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-left: 17px;
}

.language-switcher {
  display: flex;
  align-items: center;
  gap: 4px;
}


