@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600;700&display=swap");
.sideBar {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-left: 17px;
  }